<head>
    <link rel="stylesheet" href="/Assignment_web207/assets/css/reset.css">
    <link rel="stylesheet" href="/Assignment_web207/assets/css/gioiThieu.css">
    <link rel="stylesheet" href="/Assignment_web207/assets/css/styles.css">
    <title>Giới thiệu </title>
</head>

<body>
    <div class="gioithieu">
        <div class="trong">

        </div>
        <div class="noidung">
            <h1>GIOI THIỆU FPT SOFTWARE ACADEMY</h1>
            <button></button>
            <p></p>
            <p>FPT Software Academy là học viện công nghệ trực thuộc FPT Software dành cho học sinh, sinh viên, người đi
                làm có định hướng theo đuổi ngành Công nghệ.
                Chúng tôi cung cấp các chương trình đào tạo định hướng ngành khác nhau về phát triển phần mềm, kiểm thử
                phần mềm để giúp học viên:</p>
            <p>
            <p>* Nâng cao năng lực chuyên môn</p>
            <p>* Có được kinh nghiệm thực tiễn</p>
            <p>* Cải thiện ngoại ngữ và kỹ năng mềm</p>
            </p>
            <button class="btn"></button>
            <strong>
                <h4>Tầm nhìn: </h4>
            </strong>
            <p>Trở thành trung tâm đào tạo công nghệ hàng đầu Việt Nam </p>
            <button class="btn"></button>
            <strong>
                <h4>Sứ mệnh: </h4>
            </strong>
            <p>FPT Software Academy là bệ phóng vững chắc cho những bạn trẻ đang theo đuổi ngành Công nghệ. Chúng tôi
                cung cấp nguồn nhân lực chất lượng cao cho FPT Software và góp phần phát triển ngành công nghệ Việt Nam
            </p>
            <button class="btn"></button>
            <strong>
                <h4>Giá trị cốt lõi: </h4>
            </strong>
            <p>Tôn đổi đồng – Chí gương sáng: Tôn trọng cá nhân – Tinh thần đổi mới – Tinh thần đồng đội, Chí công –
                Gương mẫu – Sáng suốt.</p>
        </div>
        <div class="anh">
            <img src="/Assignment/img/fpt.jpg" alt="">
        </div>
    </div>
    <div class="gioithieu">
        <div class="anh">
            <img src="/Assignment_web207/assets/img/anh.jpg" alt="">
        </div>
        <div class="trong">

        </div>
        <div class="noidung">
            <hr>
            <h1>Chương trình đào tạo mở rộng</h1>
            <button></button>
            <p>Chương trình đào tạo dành cho tất cả mọi đối tượng đang theo đuổi khối ngành Công nghệ. Với lộ trình bài
                bản, phương pháp đào tạo hiện đại cùng chuyên gia Công nghệ đến từ FPT Software, học viên sẽ được cung
                cấp đầy đủ kiến thức, kỹ năng để có thể làm việc tại dự án.</p>
            <p>FPT Software Academy là học viện công nghệ trực thuộc FPT Software dành cho học sinh, sinh viên, người đi
                làm có định hướng theo đuổi ngành Công nghệ.
                Chúng tôi cung cấp các chương trình đào tạo định hướng ngành khác nhau về phát triển phần mềm, kiểm thử
                phần mềm để giúp học viên:</p>
            <ul>Xem thêm>></ul>
        </div>
    </div>
    <div class="baner">
        <img src="/Assignment_web207/assets/img/baner.jpg" alt="" width="100%">
    </div>
    <div class="khoaHoc">
        <h1></h1>
    </div>
    
</body>