<head>
    <title>Liên hệ</title>
    <link rel="stylesheet" href="/Assignment_web207/assets/css/reset.css" />
    <link rel="stylesheet" href="/Assignment_web207/assets/css/styles.css" />
    <link rel="stylesheet" href="/Assignment_web207/assets/css/contact.css" />
    <link rel="shortcut icon" href="/Assignment/img/logo-FPT-Polytechnic-.png" type="image/x-icon">

</head>

<body>
    <main class="main">
        <div class="contact-block">
            <h2 class="contact-title">Liên hệ</h2>
            <p class="contact-desc">
                Nếu bạn đang quan tâm đến các vị trí tuyển dụng/tuyển sinh
                tại FPT SOFTWARE Academy – FPT Software, vui lòng liên hệ
                với chúng tôi:
            </p>
            <form action="" class="contact-form">
                <div class="row">
                    <input type="text" placeholder="Họ và tên *">
                    <input type="text" placeholder="Địa điểm làm việc">
                </div>
                <div class="row">
                    <input type="text" placeholder="Số điện thoại *">
                    <input type="text" placeholder="Công nghệ">
                </div>
                <div class="row">
                    <input type="text" placeholder="Địa chỉ email">
                    <input type="text" placeholder="Thời gian làm việc">
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="checkbox" name="" id="">
                        <span>Đăng kí nhận thông tin từ chúng tôi</span>
                    </div>
                    <button class="contact-btn">Đăng ký</button>
                </div>
            </form>
        </div>
    </main>
</body>